language: node_js
warnings_are_errors: false
node_js:
- '9'
before_script:
- export CI=false
cache:
  yarn: true
  directories:
  - node_modules
before_deploy:
- yarn build
deploy:
  provider: npm
  email: guy@example.com
  api_key:
    secure: R+oJ64Jvj0X5A0tSms0n1STHhzmBTMfalNA7jxKt2xGA51MPFEMfttqJZ/A8n/OHMhQmAN3DUPx/OgXcjtW2urKfzjF6HGuYLxt1H49T07X3uGocohVRb/ped69/pnNzlUhvU5FXDwCE2C8yqMnZfpfO31kw5Fd4N7YxvbGnxyzvzri15R8SUqaFIfVYHvRnROJKr3ht8g3c88b71jPtW26wEMxjawfDOtPYeMzhQEoUCvymgZzlhgkoQu4pRhjJdUUQmnMqkvPNBOnV/ZB2T4L0nkPMSD6mdM9FuC0v/vgQqLqqaeQtxneij5XXgT26HgLzpJOfToFj2pnrED8/U1R9i4SephEFEXYgXUQn8HENggwb7OyIIR+aXVjtzlzMYSTugy0B7WZfdF7zpDZ6Zsa/eUSR9WfE42H5Z2Lqx/UFgVJpR2omNXE1zAi+w5DqVNL7XYHnjJfM2pgViVN2qUK2NpuomumxyDBrmZ8SkNKxW4O8o4CJI3ZB7OPNFMe1zCxniTsWxHgOaSTlN3ePxYtRpDD8dKZEMjGMGsSCT/0mMdrNeLhJAgMG/94Cg5VyTjnuC0bv66KCm/5rOEy/nlK7hyaqMDKnxyZx4ZixBwfK0EufvpyOKhg3Fm7RvFqiIIzoE2rp7P3Oy4ZstWzhDY0LvETzRkzWWAroN4FnKSE=
  on:
    tags: false
    repo: dht/gcli-i18n
